# ~/.aliases: included by ~/.zshrc to make life easier
# General Aliases
alias bell="echo -ne '\007'"
alias ed-aliases="vim ~/.aliases"
alias ed-functions="vim ~/.functions"
alias ed-local="vim ~/.local"
alias rest-now="sudo shutdown -r now"
alias todo="grep -Irn --exclude=\"*\.git*\" \"TODO\" ."
alias upgrade="sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get autoremove"

# LS(1) Aliases
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"

# Screen Aliases
alias scr="screen -S"
alias sls="screen -ls"
alias sra="screen -d -RR"
alias skill="screen -ls | grep Detached | cut -d. -f1 | awk '{print $1}' | xargs kill"

# Cargo Aliases
alias cb="cargo build"
alias cr="cargo run"
alias ct="cargo test -- --nocapture"

# Docker Aliases
alias docker-clean='docker rm $(docker ps -a -q -f status=exited)'
alias docker-clean-all='docker-stop; docker-clean; docker-clean-images'
alias docker-clean-images='docker rmi $(docker images -a -q)'
alias docker-stop='docker stop $(docker ps -a -q)'

# VSCode Aliases
alias ed-vsc-settings='vim ~/.vscode/settings.json'

# Rails Aliases
alias rc='type rails >/dev/null 2>&1 && LLM_ENABLED=false rails console'
alias rs='type rails >/dev/null 2>&1 && LLM_ENABLED=false rails server'

# Heroku Aliases
alias rc-stage='heroku run rails console --app easy-e-stage'
alias rc-prod='heroku run rails console --app easy-e-prod'
