[alias]
    a = add
    aa = add -A
    at = add -u
    b = branch
    bl = blame
    c = commit
    ca = commit --amend
    cm = commit -m
    co = checkout
    con = config
    conl = config --list
    d = diff
    drb = branch -d -r
    l = log
    lg = log --graph --decorate --pretty=oneline --abbrev-commit
    lol = log --graph --oneline
    lss = diff --name-status --staged
    lsu = diff --name-status
    m = merge
    ph = push
    pl = pull
    r = reset HEAD
    ra = remote add
    rr = remote rm
    rv = remote -v
    s = status
    u = update-index --assume-unchanged

    me = "config user.name 'Matthew Fornaciari'"
    home = "config user.email 'mattforni@gmail.com'"
    work = "config user.email 'mfornaciari@salesforce.com'"
[color]
    ui = auto
[color "diff"]
    meta = yellow bold
    frag = magenta ul
    old = red bold
    new = green
[color "status"]
    added = green
    changed = yellow bold
    untracked = cyan
[core]
    editor = vim
[push]
	default = current
[credential]
    helper = cache --timeout=86400

