@mixin copyright($background_color: #ddd, $color: #fff, $font_size: 0.15rem) {
  bottom: 0;
  color: $color;
  font-size: $font_size;
  margin: 0 5px 5px 0;
  position: absolute;
  right: 0;
  text-shadow: 0px 0px 2px $background_color;
  z-index: 3;
  a {
    color: $color;
    font-size: $font_size;
  }
}

