// Mixins
@mixin flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin rounded-left-corners($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
}

@mixin rounded-right-corners($radius) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;

  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
  -moz-box-shadow: $offset-x $offset-y $blur $color;
  -webkit-box-shadow: $offset-x $offset-y $blur $color;
}

@mixin gradient($top, $bottom) {
  // old browsers
  background: $top;
  // ff3.6+
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  // chrome, safari4+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  // chrome10+, safari5.1+
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
  // ie10+
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
  // w3c
  background: linear-gradient(to bottom, $top 0%,$bottom 100%);
  // ie6-9
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
}

