$accent-color: rgb(71, 109, 30);
$font-color: rgb(0, 0, 0);
$font-size-normal: 1rem;
$font-size-large: 1.5rem;
$font-size-largest: 2.5rem;
$font-size-small: 0.9rem;
$font-size-smaller: 0.7rem;
$header-color: rgba(71, 109, 30, 0.7);
$logo-height: 6rem;
$main-color: rgb(157, 204, 80);
$margin-smaller: 0.25rem;
$margin-small: 0.5rem;
$margin-normal: 1rem;
$margin-large: 1.5rem;
$margin-larger: 2rem;
$margin-largest: 2.5rem;
$padding-small: 0.5rem;
$padding-normal: 1rem;
$round-small: 0.25rem;
$round-normal: 0.5rem;

